* text=auto
* text=auto

*.css linguist-vendored
*.less linguist-vendored

*.less linguist-vendored
*.less linguist-vendored

* text=auto
* text=auto

*.css linguist-vendored
*.less linguist-vendored

*.less linguist-vendored
*.less linguist-vendored

